

.modal-content{
  border: none;
}
.modal-content div{
  padding-left: 24px;
  padding-right: 24px;
}
.cart-banner {
  content: "Item added to E-Learning Cart";
  display: flex;
  color: #fff;
  width: 100%;
  height: 54px;
  background-color: #28803A;
  align-items: center;
  padding-left: 24px;
}
.cart-banner__title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.6px;
}
.cart-banner__icon{
  width: 18px;
  height: 18px;
  margin-right: 16px;
}
.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none
}
.modal-body{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-top-width: 2px;
  border-style: solid;
  border-color: rgb(189 215 224 / var(--tw-border-opacity));
}
.cart-items{
  padding: 0 !important;
}
.cart-item__asset{
  padding-left: 0 !important;
}
.cart-item__total{
  font-size: 1.125rem !important;
  color: rgb(5 57 71 / var(--tw-text-opacity)) !important;
  font-weight: 700 !important;
  padding-right: 0 !important;
}
.cart-item{
  border: none;
  padding: 0 !important;
  margin-bottom: 24px;
}
.cart-item:last-of-type{
  border: none !important;
}
.cart__total{
  background-color: transparent !important;
  border-top-width: 2px;
  border-style: solid;
  border-color: rgb(189 215 224 / var(--tw-border-opacity));
  margin-top: 16px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.cart-item__content-inner{
  padding-left: 0 !important;
}
.cart__buttons {
  padding: 0 0 0 0 !important;
  display: flex;
  justify-content: flex-end;
}
.cart__buttons .btn--right{
  float: unset;
}
.modal-title{
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.6px;
  color: var(--Teal-Teal-5, #053947);
}
.modal .close{
  color: #066880;
  position: relative;
}
.cart-item .cart-item__content .cart-item__content-inner .btn:nth-child(2){
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19.6px;
text-decoration: none;
color: #bf2222
}
.cart-item .cart-item__content .cart-item__content-inner .btn:nth-child(2)
.icon-delete{
display: none;
} 