/******************************
*
    * 1. Custom CSS to fit custom header atom
*
******************************/

.container {
   @media (max-width: 37.375em) {
      padding-left: 0px !important;
   }
  padding-left: 68px !important;
  max-width: 100% !important;
}
